p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    height:auto;
    margin:0;
    padding:0;
}

article {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #333;
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    padding:200px;
    height:auto;
}

@media (max-width: 768px) {
    article {
        padding:100px 50px;
    }
}

@media (max-width: 480px) {
    article {
        padding:100px 20px;
    }
}

h1, h2, h3 {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #333;
    height:auto;
    padding:0;
    margin:0;
}

h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}